body {

    background-color: #f3f3f4  !important;;
 }
 
 h1, h2, h3 {
     color: #404244;
    
 }

 a {
    color:#41cd52 !important;
 }

 .nav {
     height: 50px;
     background:#41cd52;
     color: white;
     box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
 }

 .navHome a{
     color: white !important;
     font-size: 1.2rem;
     line-height: 2rem;
 }

 .navWrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 2.8rem;
 }

.wrapper  {
    margin: 1rem;
    padding: 3rem !important;
    border-radius: 3px;
    background-color:white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14);

}

.toc {
    display: none;
}

.logo {
    font-size: 1.5rem;
    padding-bottom: 4px;
}
